<!--
 This file is part of QuizReader.

 QuizReader is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 QuizReader is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with QuizReader.  If not, see <http://www.gnu.org/licenses/>.
 -->
Choose the correct definition for <span id="quizWord"></span>:
<br/>
<br/>
<form id="quizForm">
	<input id="option1" type="radio" name="quiz" /><label for="option1"></label>
	<hr />
	<input id="option2" type="radio" name="quiz" /><label for="option2"></label>
	<hr />
	<input id="option3" type="radio" name="quiz" /><label for="option3"></label><br />
	<br />
	<button id="nextQuiz">OK</button>
</form>